.btn{
    height: 30px;
    width: 150px;
    font-size: 14px;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: 10px;
}

.btn_blue{
    background-color: rgb(28, 28, 224);
}
.btn_orange{
    background-color:rgb(235, 148, 48);
}
.btn_green{
    background-color:green;
}
.btn_pink{
    background-color:rgb(221, 18, 153);
}
.btn_light_blue{
    background-color:rgb(89, 89, 184);
}
.btn_red{
    background-color:rgb(110, 19, 19);
}
.btn_purple{
    background-color:rgb(160, 82, 160);
}
.btn_brown{
    background-color:rgb(116, 116, 10);
}