.form_div{
    width: 500px;
    margin: 10px auto;
    outline: 10px solid orange;
}

.form_div input ,select{
    padding: 5px;
    margin: 0px 10px;
}
.form_div label {
    display:  inline-block;
}

.display_div{
     display:flex
}

.filter_div{
    border: 1px solid black;
    padding: 15px;
    flex:1;
}

.table_div{
    flex:4;
    border:1px solid black;
    padding:20px
}


.table{
    margin:auto;
    flex-direction:column;
}

.table_head{
    display:flex;
}

.table_head  > div {
    outline: 2px solid white;
    background-Color:black;
    color:white;
    padding:10px 10px;
    width:150px
}


.row{
    display:flex
}

.col{
    padding:2px 10px;
    width:150px;
    outline: 1px solid black;
}

.row input{
    width: 100px;
}

.row button{
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 20px;

}